MusicPlayer.vcxproj
MusicPlayer.vcxproj.filters
MusicPlayer.vcxproj.user
Debug/
song.dat
dialog.aps
resource.h

MusicPlayer.wap
MusicPlayer.exe
Music/output.wav
Music/Safe And Sound-Taylor Swift.aac
MusicPlayer.exe
MusicPlayer.pdb
MusicPlayer.wap
